body {
    font: 200;
    background-color: #f5faff;
    height: 100vh;
}

/* Font */

h2 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h1, h2, .nav-link, a {
    font-family: 'Fjalla One', sans-serif;
    color: azure;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: azure;
}

p {
    font-size: 0.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: black;
}

.welcome-text {
    padding: 200px 0 150px;
    color: white;
    text-align: center;
}

.page-header-text {
    text-align: center;
}


/* Nav Bar */
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #1e2424;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}

/* Homepage */

.welcome-container {
    background: no-repeat center center;
    background-color: #364658;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background-blend-mode: overlay;
}

.page-header-bar {
    background-color: #40b3b9;
    height: 20px;
}

.pages-header-container {
    background-color: #40b3b9;
    height: max-content;
    padding: 20px;
}

/* drinks categories and cards */

.drinks-categories{
    margin: 40px 40px 40px 40px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

/* footer */

.copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

.fixed-bottom {
    margin: 20px;
}