body {
    font: 200;
    background-color: #f5faff;
    height: 100vh;
}

.row {
    --bs-gutter-x: 0;
}

/* Font */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h1,
h2,
.nav-link,
a {
    font-family: 'Fjalla One', sans-serif;
    color: #f2f2f2;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Shadows Into Light', cursive;
    color: rgb(24, 80, 80);
    text-decoration: underline;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: #f2f2f2;
}

h5 {
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(24, 80, 80);
    ;
}

p {
    font-size: 1rem;
    color: black;
}

.welcome-text {
    padding: 200px 0 150px;
    color: #f2f2f2;
    text-align: center;
}

.page-header-text {
    text-align: center;
}

.liquer-card-title {
    margin-bottom: 0.5rem;
    font-family: 'Fjalla One', sans-serif;
    color: #f2f2f2;
    font-size: inherit;
    text-transform: uppercase;
}

.login-links {
    color: #ff7f50;
    font-family: 'Shadows Into Light';
    font-weight: 500;
}

.gen-links {
    color: #364658;
}

.mybar-links{
    color: #ff7f50;
}

.flashes {
    text-align: center;
    background-color: #364658;
    color: #f2f2f2;
    margin-top: 10px;
}

/* Nav Bar */
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}

/* Homepage */

.welcome-container {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #f2f2f2;
    background-image: url(../static/images/m-s-meeuwesen-QYWYnzvPTAQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-color: #364658;
    background-blend-mode: overlay;
    background-size: cover;
}

.search-bar {
    padding-top: 30px;
}

.search-button {
    background-color: #40b3b9;
    color: white;
}

.page-header-bar {
    background-color: #40b3b9;
    height: 20px;
}

.pages-header-container {
    background-color: #40b3b9;
    height: max-content;
}

.featured-block {
    padding-top: 20px;
    text-align: center;
}

/* drinks categories and cards */

.drinks-categories {
    margin: 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f2f2f2;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.feature {
    padding: 10px;
}

.card-img {
    width: 100%;
    object-fit: cover;
    height: 30vh;
}

/* mybar signin feature */

.mybar-block {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff7f50;
}

.mybar-side-square{
    padding: 80px;
    background-color: #ff7f5094;
    margin: 20px;
}

/* drinks pages */

.page-content {
    padding: 30px;
}

.ingredients {
    background-color: #00494d;
    padding: 10px;
}

.cocktail-container {
    padding-top: 20px;
}

.cocktail_image {
    object-fit: cover;
    width: 100%;
    max-height: 50vh;
}

.ingredients_row {
    background-color: #95d4d7;
    margin-top: 20px;
    padding-top: 10px;
}

.cocktail_details {
    background-color: #e5e5e5;
    padding: 20px;
}

.cocktail-lower{
    padding: 20px;
}

.cocktail-upper{
    padding-right: 20px;
}

/* add / edit form */

.ingredients-list-form {
    display: inline;
    font-weight: 500;
}

.add-ingredient {
    margin-top: 10px;
}

/* register page */

.card-header {
    text-align: center;
    background-color: #ff7f50;
}

.card-body {
    font-weight: 300;
}

.form-label {
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 400;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    margin-top: 1rem;
}

/* buttons */

.btn-primary {
    color: #fff;
    background-color: #40b3b9;
    border-color: #40b3b9;
    margin-top: 15px;
    font-family: 'Fjalla One', sans-serif;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-top: 15px;
}

.btn-block{
    width: 100%;
}

/* footer */

.copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}