body {
    font: 200;
    background-color: #f5faff;
    height: 100vh;
}

/* Font */

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: azure;
}


/* Nav Bar */
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #1e2424;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}

/* Homepage */

.welcome-container {
    background: no-repeat center center;
    background-color: #364658;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background-blend-mode: overlay;
}

.welcome-text {
    padding: 200px 0 150px;
    color: white;
    text-align: center;
}

.page-header-bar {
    background-color: #40b3b9;
    height: 20px;
}

/* Footer */

.copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

.fixed-bottom {
    margin: 20px;
}