body {
    font: 200;
    background-color: #f5faff;
    height: 100vh;
}

/* Font */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h1, h2, .nav-link, a {
    font-family: 'Fjalla One', sans-serif;
    color: #f2f2f2;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: #f2f2f2;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: rgb(24, 80, 80);
}

p {
    font-size: 1rem;
    color: black;
}

.welcome-text {
    padding: 200px 0 150px;
    color: #f2f2f2;
    text-align: center;
}

.page-header-text {
    text-align: center;
}

.flashes{
    text-align: center;
    background-color: #364658;
    color: #f2f2f2;
    margin-top: 20px;
}

/* Nav Bar */
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #1e2424;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}

/* Homepage */

.welcome-container {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #f2f2f2;
    background-image: url(../static/images/m-s-meeuwesen-QYWYnzvPTAQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-color: #364658;
    background-blend-mode: overlay;
    background-size: cover;
}

.page-header-bar {
    background-color: #40b3b9;
    height: 20px;
}

.pages-header-container {
    background-color: #40b3b9;
    height: max-content;
    padding: 20px;
}

/* drinks categories and cards */

.drinks-categories{
    margin: 40px 40px 40px 40px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f2f2f2;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

/* drnks pages */

.page-content{
    padding-top: 20px;
}


/* register page */

.card-header{
    text-align: center;
    background-color: #40b3b9;
}

.card-body {
    font-weight: 300;
}

.form-label {
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 400;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    margin-top: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #40b3b9;
    border-color: #40b3b9;
    margin-top: 15px;
    font-family: 'Fjalla One', sans-serif;
}

/* footer */

.copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

.fixed-bottom {
    margin: 20px;
}