{% extends "base.html" %}
{% block content %}

<div class="container-fluid search-bar">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-inline" action="{{ url_for('search') }}" method="POST">
                <input class="form-control mr-sm-2" type="search" name="search" minlength="3"
                    placeholder="What's your poison? Search a keyword or cocktail name" aria-label="Search" validate>
                <button class="btn search-button my-2 my-sm-0" type="submit">Search</button>
                <a href="{{ url_for('cocktails') }}" class="btn">Reset</a>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

        {% for cocktail in cocktails|sort(attribute="cocktail_name") %}

        <div class="cocktail-container container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 cocktail_details">
                    <div class="row">
                        <div class="col-md-6">

                            <h3>{{ cocktail.cocktail_name }}</h3><br>
                            <p>{{ cocktail.cocktail_description }}</p>
                            <p><strong>Liquer(s) needed: </strong></p>

                            {% for categories in cocktail.cocktail_category %}

                            <ul>
                                <li>{{ categories }}</li>
                            </ul>

                            {% endfor %}

                        </div>
                        <div class="col-md-6">
                            <img src="{{ cocktail.image_url }}" class="cocktail_image"
                                alt="{{ cocktail.cocktail_name }} image">
                        </div>
                    </div>
                    <div class="row ingredients_row">
                        <div class="col-md-6 cocktail-lower">
                            <h4 class="ingredients">Ingredients:</h4><br>

                            {% for ingredients in cocktail.cocktail_ingredients %}

                            <p><strong>{{ loop.index }}.</strong> {{ ingredients }}</p>

                            {% endfor %}
                        </div>
                        <div class="col-md-6 cocktail-lower">
                            {% if session.user == cocktail.created_by %}
                            <p>Added by: {{ cocktail.created_by }}</p>
                            <a href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id) }}"
                                class="btn btn-outline-dark">Edit</a>
                            <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id) }}"
                                class="btn btn-outline-dark">Delete</a>
                            {% else %}
                                <p class="text-muted"><small>You can only edit or delete cocktails that you have created. Only users can edit or delete cocktails.</small></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <hr>
        {% endfor %}


{% endblock %}
