{% extends "base.html" %}
{% block content %}

<div class="container-fluid pages-header-container">
    <h2 class="page-header-text">{{ page_title }}</h2>
</div>

{% for cocktail in cocktails %}

<div class="cocktail-container container">
    <div class="row">
        <div class="col-md-6">

            <h3>{{ cocktail.cocktail_name }}</h3><br>
            <p>{{ cocktail.cocktail_description }}</p>
            <p><strong>Liquer: </strong>{{ cocktail.cocktail_category }}</p>
            <p><strong>Strength: </strong> {{ cocktail.cocktail_strength }}</p>
<hr>
            <h4 class="ingredients">Ingredients:</h4><br>
            <p>{{ cocktail.cocktail_ingredients }}</p>
        </div>
        <div class="col-md-6">
        <img src="{{ cocktail.image_url }}" alt="{{ cocktail.cocktail_name }} image">
        </div>

    </div>
</div>
<hr>
    {% endfor %}

{% endblock %}
