{% extends "base.html" %}
{% block content %}

<div class="row page-content">
    <div class="col-md-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <h2 class="card-header">EDIT COCKTAIL</h2>
            <div class="card-body">
                <form class="row needs-validation" method="POST"
                    action="{{ url_for('edit_cocktail', cocktail_id=cocktail._id) }}" novalidate>
                    <div class="col-md-12">
                        <label for="cocktail_name" class="form-label">Cocktail Name: </label>
                        <input type="text" class="form-control" name="cocktail_name" id="cocktail_name"
                            value="{{ cocktail.cocktail_name }}" required>
                    </div>
                    <div class="col-md-12 form-group options">
                        <label for="cocktail_category" class="form-label">Cocktail Category:</label><br>
                        <input class="checkboxes" type="checkbox" name="cocktail_category" id="cocktail_category" value="Gin" required />Gin<br>
                        <input class="checkboxes" type="checkbox" name="cocktail_category" id="cocktail_category" value="Vodka" required />Vodka<br>
                        <input class="checkboxes" type="checkbox" name="cocktail_category" id="cocktail_category" value="Whiskey/Rye" required />Whiskey/Rye<br>
                        <input class="checkboxes" type="checkbox" name="cocktail_category" id="cocktail_category" value="Tequila" required />Tequila<br>
                        <input class="checkboxes" type="checkbox" name="cocktail_category" id="cocktail_category" value="Rum" required />Rum<br>
                        <input class="checkboxes" type="checkbox" name="cocktail_category" id="cocktail_category" value="Brandy" required />Brandy<br>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="cocktail_description" class="form-label">Cocktail description: </label>
                        <textarea class="form-control" name="cocktail_description" id="cocktail_description" rows="3"
                            required>{{- cocktail.cocktail_description -}}</textarea>
                    </div>
                    <div class="col-md-12 form-group options">
                        <label for="cocktail_ingredients" class="form-label">Cocktail Ingredients: </label><br>
                        <label for="cocktail_ingredients" class="form-label"></label>
                        {% for ingredients in cocktail.cocktail_ingredients %}
                        
                        <p class="ingredients-list-form">{{ loop.index }}.</p>
                        <input class="form-control" type="text" name="cocktail_ingredients" id="cocktail_ingredients" value="{{ ingredients }}"><br>
                        {% endfor %}

                        <div id="recurssion_container"></div>
                        <button type="button" id="add_button" data-intial="0">+ Add another ingredient</button>
                        
                    </div>

                    <div class="col-md-12 form-group">
                        <label for="image_url" class="form-label">Cocktail Image URL: </label>
                        <textarea class="form-control" name="image_url" id="image_url" rows="1"
                            required>{{- cocktail.image_url -}}</textarea>
                    </div>
                    <!-- confirm edit button -->
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Confirm Edit Cocktail</button>
                    <!-- cancel button -->
                    <a href="{{ url_for('cocktails') }}" class="btn btn-secondary">Cancel</a>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}
