{% extends "base.html" %}
{% block content %}
<!-- Hero Image container -->
<header class="welcome-container" style="background-image: url('/workspace/milestone_project_3/static/images/m-s-meeuwesen-QYWYnzvPTAQ-unsplash.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Cocktails&#x40;Home</h1>
                    <span class="subheading">When you can't go to the bar, bring the bar to you...</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ./Hero Image container -->
{% endblock %}
