{% extends "base.html" %}
{% block content %}
<!-- Hero Image container -->
<header class="welcome-container img-fluid"
    style="background-image: url('https://8080-kjluton-milestoneprojec-kplljka6ew6.ws-eu30.gitpod.io/static/images/m-s-meeuwesen-QYWYnzvPTAQ-unsplash.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="welcome-text">
                    <h1>COCKTAILS &#x40; HOME</h1>
                    <span class="subheading">When you can't go to the bar, bring the bar to you...</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid page-header-bar"></div>

<div class="row drinks-categories">
    <div class="col-md-3">
        <div class="card text-white">
            <img class="card-img" src="./static/images/soul-van-schaik-qOK92D0L5r0-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">GIN BASED DRINKS</h5>            
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white">
            <img class="card-img" src="./static/images/soul-van-schaik-qOK92D0L5r0-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">GIN BASED DRINKS</h5>            
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white">
            <img class="card-img" src="./static/images/soul-van-schaik-qOK92D0L5r0-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">GIN BASED DRINKS</h5>            
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white">
            <img class="card-img" src="./static/images/soul-van-schaik-qOK92D0L5r0-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">GIN BASED DRINKS</h5>            
            </div>
        </div>
    </div>
</div>
<!-- ./Hero Image container -->
{% endblock %}