{% extends "base.html" %}
{% block content %}
<!-- Hero Image container -->

<header class="welcome-container">
    <div class="container">
        <h1>COCKTAILS &#x40; HOME</h1>
        <h4>When you can't go to the bar, bring the bar to you...</h4>
        <br>
        <form class="form-inline" action="{{ url_for('search') }}" method="POST">
            <input class="form-control mr-sm-2" type="search" name="search" minlength="3"
                placeholder="What's your poison?" aria-label="Search" validate><br>
            <button class="btn search-button my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- <div class="row search-bar">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline" action="{{ url_for('search') }}" method="POST">
                    <input class="form-control mr-sm-2" type="search" name="search" minlength="3"
                        placeholder="What's your poison?" aria-label="Search" validate>
                    <button class="btn search-button my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div> -->
    </div>
</header>
<div class="container-fluid page-header-bar"></div>

<div class="row drinks-categories">
    <div class="col-md-4">
        <div class="card text-white">
            <img class="card-img" src="./static/images/soul-van-schaik-qOK92D0L5r0-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <a class="liquer-card-title" href="{{ url_for('cocktails') }}">GIN BASED DRINKS</a>           
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white">
            <img class="card-img" src="./static/images/liz-weddon-FMvUb8qRn-8-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <a class="liquer-card-title" href="{{ url_for('cocktails') }}">VODKA BASED DRINKS</a>           
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white">
            <img class="card-img" src="./static/images/nuff-_JKy0LtToQc-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <a class="liquer-card-title" href="{{ url_for('cocktails') }}">RYE BASED DRINKS</a>           
            </div>
        </div>
    </div>
</div>
<!-- ./Hero Image container -->
{% endblock %}