{% extends "base.html" %}
{% block content %}

<div class="row page-content">
    <div class="col-md-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <h4 class="card-header">LOG IN TO YOUR BAR</h4>
            <div class="card-body">
                <form class="row needs-validation" method="POST" action="{{ url_for('login_mybar') }}" novalidate>
                    <div class="col-md-12">
                        <label for="emailaddress" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="emailaddress" id="emailaddress"
                            aria-describedby="email" required>
                    </div>
                    <div class="col-md-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            pattern="^[a-zA-Z0-9]{8,15}$" minlength="8" maxlength="15" required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">LOG IN</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row page-content">
        <div class="col-md-3"></div>
        <div class="col-lg-6 text-center">
            <p>New Here? <a href="/register_mybar" class="login-links">Create your bar here</a></p>
        </div>
        <div class="col-md-3"></div>
    </div>

    {% endblock %}