{% extends "base.html" %}
{% block content %}

<div class="row page-content">
    <div class="col-md-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <h4 class="card-header">REGSITER &#x40; CREATE YOUR BAR</h4>
            <div class="card-body">
                <form class="row needs-validation" method="POST" action="{{ url_for('register_mybar') }}" novalidate>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label">First name</label>
                        <input type="text" class="form-control" name="firstname" id="firstname" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="lastname" class="form-label">Last name</label>
                        <input type="text" class="form-control" name="lastname" id="lastname" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="emailaddress" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="emailaddress" id="emailaddress"
                            aria-describedby="email" required>
                        <div id="emailaddress" class="form-text">We'll never share your email with anyone else.</div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            pattern="^[a-zA-Z0-9]{8,15}$" minlength="8" maxlength="15" required>
                        <div id="password" class="form-text">Please create a password that is 8-15 characters long.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please check and try again.
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">SUBMIT FORM</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row page-content">
        <div class="col-md-3"></div>
        <div class="col-lg-6 text-center">
            <p>Already got an account? <a href="/login_mybar" class="login-links">Log in here</a></p>
        </div>
        <div class="col-md-3"></div>
    </div>

    {% endblock %}